<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShelfSpace</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">ShelfSpace</a></li>
            <li><a href="{% url 'books_index' %}">All Books</a></li>
            <li><a href="{% url 'book_create' %}">Add Book</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>